# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/
.env

# Streamlit
.streamlit/

# Editors
.vscode/
.idea/

# Caches / logs
*.log
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

