# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# OS / editors
.DS_Store
.vscode/
.idea/

# Logs / cache
*.log
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
